<!--app-dependencia></app-dependencia-->
<!--app-amigo> </app-amigo-->
<hr>
<nav>
    <a [routerLink] = "['/home']" [routerLinkActive]="['active']">HOME</a> - 
    <a [routerLink] = "['/amigo']" [routerLinkActive]="['active']">amigo</a> - 
    <a [routerLink] = "['/dependencia']" [routerLinkActive]="['active']">dependencia</a> - 
    <a [routerLink] = "['/form1']" [routerLinkActive]="['active']">form1</a> - 
    <a [routerLink] = "['/plantillas']" [routerLinkActive]="['active']">plantillas</a> - 
    <a [routerLink] = "['/error']" [routerLinkActive]="['active']">error</a>
</nav>
<hr>

<router-outlet></router-outlet>